@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 5%;
    --primary: 43 96% 42%;
    --secondary: 142 70% 45%;
    --text: 220 13% 91%;
    --highlight: 47 97% 76%;
  }
}

body {
  color: hsl(var(--text));
  background: hsl(var(--background));
}
